{% extends 'base.html.twig' %}

{% block title %}
    News list
{% endblock %}

{% block body %}

    {% for news in news %}
        <a href="{{ path('news_details', {'id':news.id}) }}">
            <h3>
                {{ news.title }}
            </h3>
            <br>
            {{ news.bodyShort ~ '. . .' }}
        </a>
    {% endfor %}

{% endblock %}
